<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>{{ page.title }} - {{site.title}}</title>
	  <link rel="stylesheet" href="{{site.baseurl}}/css/roulette.css">
	</head>
	
	<body>
	<header>
	    <nav>
	        <ul>
	            <li><a href="{{site.baseurl}}/">Home</a></li>
	            <li><a href="{{site.baseurl}}/about">About</a></li>
	            <li><a href="{{site.baseurl}}/contact">Contact</a></li>
	        </ul>
	    </nav>
	    <a class="title-a" href="{{site.baseurl}}/"><h1 class="title">{{site.title}}</h1></a>
	</header>
  
  {{content}}
  
	<body onload="init()">
		<center>
			<div>
				<h1 class="shotterudTitle">Roulette</h1>
			</div>
			<div>
				<input id="inputName" placeholder="Name">
				<button id="addButton" onclick="addName()">Add</button>
			</div>
			<div>
				<ul id="names">
				</ul>
			</div>
		</center>
		<div class="rouletteContainer">
			<div class="line">
			</div>
			<div id="fillMeUpDaddy" class="roulette">
			</div>
		</div>
		<br><br><br><br><br><br><br><br>
		<center>
			<div>
				<button id="startButton" onclick="play()">Roll</button>
			</div>
		</center>
		<br><br>
		<div>
			<center>
				<button onclick="clearAll(-1)">Clear all</button>
			</center>
		</div>
		<div id="winners" class="winners"></div>
	</body>
	<script>
		var amountOfBoxes = 100;

		var order = [];

		function init(){
			let roulette = document.getElementById("fillMeUpDaddy");
			roulette.innerHTML = "";
			let tempBets = [
				["player1", "red"], 
				["player2", "yellowgreen"]
			];
			for(var i = 0; i < amountOfBoxes; i++){
					var randomPlayer = rand(0, tempBets.length)
					var node = document.createElement("div");
					var h3 = document.createElement("h3");
					h3.innerHTML = tempBets[randomPlayer][0];
					h3.style.backgroundColor = tempBets[randomPlayer][1];
					node.appendChild(h3);
					roulette.appendChild(node);
				}
		}

    function rand (min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }
		
    var colors= ['aqua', 'fuchsia', 'gray', 'green', 
								'lime', 'maroon', 'olive', 'orange', 'purple', 'red', 
								'silver', 'teal', 'white', 'yellow', '#e6194b', '#3cb44b', '#ffe119', 
								'#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', 
								'#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', 
								'#aaffc3', '#808000', '#ffd8b1', '#808080', '#ffffff',];

    var width = 80;

    var bets = [];

    function play () {
			//add sound if you want
      //var audio = new Audio('spin.mp3');
      //audio.play();
			var offset = rand(0, amountOfBoxes*140-180)+180;
			document.getElementById("fillMeUpDaddy").style.left = -(offset-180) + "px";
			
			let chosenPlayer = document.createElement("div");
			chosenPlayer.style.backgroundColor = bets[order[parseInt(offset/140)]][1];
			chosenPlayer.innerHTML = bets[order[parseInt(offset/140)]][0];
			setTimeout(function(){
				document.getElementById("winners").appendChild(chosenPlayer);
				document.getElementById("fillMeUpDaddy").style.transitionDuration = "0s";
				document.getElementById("fillMeUpDaddy").style.left = "0px";
				setTimeout(function(){
					document.getElementById("fillMeUpDaddy").style.transitionDuration = "5s";
				}, 50)
				}, 5500)
		}

		//)
	</script>
</html>
